//! **************************************************************************
// Written by: Map P.40xd on Fri Oct 11 17:21:06 2013
//! **************************************************************************

SCHEMATIC START;
COMP "RST" LOCATE = SITE "H8" LEVEL 1;
COMP "PHY_RESET" LOCATE = SITE "J22" LEVEL 1;
COMP "RXER" LOCATE = SITE "U20" LEVEL 1;
COMP "RXDV" LOCATE = SITE "T22" LEVEL 1;
COMP "TXEN" LOCATE = SITE "T8" LEVEL 1;
COMP "TXER" LOCATE = SITE "U8" LEVEL 1;
COMP "CLK_N" LOCATE = SITE "K22" LEVEL 1;
COMP "CLK_P" LOCATE = SITE "K21" LEVEL 1;
COMP "RXCLK" LOCATE = SITE "P20" LEVEL 1;
COMP "TXCLK" LOCATE = SITE "L20" LEVEL 1;
COMP "GTXCLK" LOCATE = SITE "AB7" LEVEL 1;
COMP "RXD<0>" LOCATE = SITE "P19" LEVEL 1;
COMP "RXD<1>" LOCATE = SITE "Y22" LEVEL 1;
COMP "RXD<2>" LOCATE = SITE "Y21" LEVEL 1;
COMP "RXD<3>" LOCATE = SITE "W22" LEVEL 1;
COMP "RXD<4>" LOCATE = SITE "W20" LEVEL 1;
COMP "RXD<5>" LOCATE = SITE "V22" LEVEL 1;
COMP "RXD<6>" LOCATE = SITE "V21" LEVEL 1;
COMP "RXD<7>" LOCATE = SITE "U22" LEVEL 1;
COMP "TXD<0>" LOCATE = SITE "U10" LEVEL 1;
COMP "TXD<1>" LOCATE = SITE "T10" LEVEL 1;
COMP "TXD<2>" LOCATE = SITE "AB8" LEVEL 1;
COMP "TXD<3>" LOCATE = SITE "AA8" LEVEL 1;
COMP "TXD<4>" LOCATE = SITE "AB9" LEVEL 1;
COMP "TXD<5>" LOCATE = SITE "Y9" LEVEL 1;
COMP "TXD<6>" LOCATE = SITE "Y12" LEVEL 1;
COMP "TXD<7>" LOCATE = SITE "W12" LEVEL 1;
COMP "GPIO_LEDS<0>" LOCATE = SITE "D17" LEVEL 1;
COMP "GPIO_LEDS<1>" LOCATE = SITE "AB4" LEVEL 1;
COMP "GPIO_LEDS<2>" LOCATE = SITE "D21" LEVEL 1;
COMP "GPIO_LEDS<3>" LOCATE = SITE "W15" LEVEL 1;
COMP "RS232_RX" LOCATE = SITE "H17" LEVEL 1;
COMP "RS232_TX" LOCATE = SITE "B21" LEVEL 1;
PIN gigabit_ethernet_inst_1/Mram_RX_MEMORY2_pins<23> = BEL
        "gigabit_ethernet_inst_1/Mram_RX_MEMORY2" PINNAME CLKB;
PIN gigabit_ethernet_inst_1/Mram_RX_MEMORY1_pins<23> = BEL
        "gigabit_ethernet_inst_1/Mram_RX_MEMORY1" PINNAME CLKB;
PIN gigabit_ethernet_inst_1/Mram_TX_MEMORY_pins<18> = BEL
        "gigabit_ethernet_inst_1/Mram_TX_MEMORY" PINNAME CLKAWRCLK;
TIMEGRP clkdv = BEL "INTERNAL_RST" BEL "BUFG_INST1" BEL
        "gigabit_ethernet_inst_1/TX_WRITE_ADDRESS_8" BEL
        "gigabit_ethernet_inst_1/TX_WRITE_ADDRESS_7" BEL
        "gigabit_ethernet_inst_1/TX_WRITE_ADDRESS_6" BEL
        "gigabit_ethernet_inst_1/TX_WRITE_ADDRESS_5" BEL
        "gigabit_ethernet_inst_1/TX_WRITE_ADDRESS_4" BEL
        "gigabit_ethernet_inst_1/TX_WRITE_ADDRESS_3" BEL
        "gigabit_ethernet_inst_1/TX_WRITE_ADDRESS_2" BEL
        "gigabit_ethernet_inst_1/TX_WRITE_ADDRESS_1" BEL
        "gigabit_ethernet_inst_1/TX_WRITE_ADDRESS_0" BEL
        "gigabit_ethernet_inst_1/RX_PACKET_STATE_FSM_FFd2" BEL
        "gigabit_ethernet_inst_1/RX_PACKET_STATE_FSM_FFd3" BEL
        "gigabit_ethernet_inst_1/TX_PACKET_STATE_FSM_FFd1" BEL
        "gigabit_ethernet_inst_1/TX_PACKET_STATE_FSM_FFd2" BEL
        "gigabit_ethernet_inst_1/RX_15" BEL "gigabit_ethernet_inst_1/RX_14"
        BEL "gigabit_ethernet_inst_1/RX_13" BEL
        "gigabit_ethernet_inst_1/RX_12" BEL "gigabit_ethernet_inst_1/RX_11"
        BEL "gigabit_ethernet_inst_1/RX_10" BEL "gigabit_ethernet_inst_1/RX_9"
        BEL "gigabit_ethernet_inst_1/RX_8" BEL "gigabit_ethernet_inst_1/RX_7"
        BEL "gigabit_ethernet_inst_1/RX_6" BEL "gigabit_ethernet_inst_1/RX_5"
        BEL "gigabit_ethernet_inst_1/RX_4" BEL "gigabit_ethernet_inst_1/RX_3"
        BEL "gigabit_ethernet_inst_1/RX_2" BEL "gigabit_ethernet_inst_1/RX_1"
        BEL "gigabit_ethernet_inst_1/RX_0" BEL
        "gigabit_ethernet_inst_1/RX_READ_ADDRESS_10" BEL
        "gigabit_ethernet_inst_1/RX_READ_ADDRESS_9" BEL
        "gigabit_ethernet_inst_1/RX_READ_ADDRESS_8" BEL
        "gigabit_ethernet_inst_1/RX_READ_ADDRESS_7" BEL
        "gigabit_ethernet_inst_1/RX_READ_ADDRESS_6" BEL
        "gigabit_ethernet_inst_1/RX_READ_ADDRESS_5" BEL
        "gigabit_ethernet_inst_1/RX_READ_ADDRESS_4" BEL
        "gigabit_ethernet_inst_1/RX_READ_ADDRESS_3" BEL
        "gigabit_ethernet_inst_1/RX_READ_ADDRESS_2" BEL
        "gigabit_ethernet_inst_1/RX_READ_ADDRESS_1" BEL
        "gigabit_ethernet_inst_1/RX_READ_ADDRESS_0" BEL
        "gigabit_ethernet_inst_1/RX_END_ADDRESS_10" BEL
        "gigabit_ethernet_inst_1/RX_END_ADDRESS_9" BEL
        "gigabit_ethernet_inst_1/RX_END_ADDRESS_8" BEL
        "gigabit_ethernet_inst_1/RX_END_ADDRESS_7" BEL
        "gigabit_ethernet_inst_1/RX_END_ADDRESS_6" BEL
        "gigabit_ethernet_inst_1/RX_END_ADDRESS_5" BEL
        "gigabit_ethernet_inst_1/RX_END_ADDRESS_4" BEL
        "gigabit_ethernet_inst_1/RX_END_ADDRESS_3" BEL
        "gigabit_ethernet_inst_1/RX_END_ADDRESS_2" BEL
        "gigabit_ethernet_inst_1/RX_END_ADDRESS_1" BEL
        "gigabit_ethernet_inst_1/RX_END_ADDRESS_0" BEL
        "gigabit_ethernet_inst_1/TX_WRITE_ADDRESS_DEL_8" BEL
        "gigabit_ethernet_inst_1/TX_WRITE_ADDRESS_DEL_7" BEL
        "gigabit_ethernet_inst_1/TX_WRITE_ADDRESS_DEL_6" BEL
        "gigabit_ethernet_inst_1/TX_WRITE_ADDRESS_DEL_5" BEL
        "gigabit_ethernet_inst_1/TX_WRITE_ADDRESS_DEL_4" BEL
        "gigabit_ethernet_inst_1/TX_WRITE_ADDRESS_DEL_3" BEL
        "gigabit_ethernet_inst_1/TX_WRITE_ADDRESS_DEL_2" BEL
        "gigabit_ethernet_inst_1/TX_WRITE_ADDRESS_DEL_1" BEL
        "gigabit_ethernet_inst_1/TX_WRITE_ADDRESS_DEL_0" BEL
        "gigabit_ethernet_inst_1/RX_START_ADDRESS_SYNC_10" BEL
        "gigabit_ethernet_inst_1/RX_START_ADDRESS_SYNC_9" BEL
        "gigabit_ethernet_inst_1/RX_START_ADDRESS_SYNC_8" BEL
        "gigabit_ethernet_inst_1/RX_START_ADDRESS_SYNC_7" BEL
        "gigabit_ethernet_inst_1/RX_START_ADDRESS_SYNC_6" BEL
        "gigabit_ethernet_inst_1/RX_START_ADDRESS_SYNC_5" BEL
        "gigabit_ethernet_inst_1/RX_START_ADDRESS_SYNC_4" BEL
        "gigabit_ethernet_inst_1/RX_START_ADDRESS_SYNC_3" BEL
        "gigabit_ethernet_inst_1/RX_START_ADDRESS_SYNC_2" BEL
        "gigabit_ethernet_inst_1/RX_START_ADDRESS_SYNC_1" BEL
        "gigabit_ethernet_inst_1/RX_START_ADDRESS_SYNC_0" BEL
        "gigabit_ethernet_inst_1/RX_PACKET_LENGTH_SYNC_10" BEL
        "gigabit_ethernet_inst_1/RX_PACKET_LENGTH_SYNC_9" BEL
        "gigabit_ethernet_inst_1/RX_PACKET_LENGTH_SYNC_8" BEL
        "gigabit_ethernet_inst_1/RX_PACKET_LENGTH_SYNC_7" BEL
        "gigabit_ethernet_inst_1/RX_PACKET_LENGTH_SYNC_6" BEL
        "gigabit_ethernet_inst_1/RX_PACKET_LENGTH_SYNC_5" BEL
        "gigabit_ethernet_inst_1/RX_PACKET_LENGTH_SYNC_4" BEL
        "gigabit_ethernet_inst_1/RX_PACKET_LENGTH_SYNC_3" BEL
        "gigabit_ethernet_inst_1/RX_PACKET_LENGTH_SYNC_2" BEL
        "gigabit_ethernet_inst_1/RX_PACKET_LENGTH_SYNC_1" BEL
        "gigabit_ethernet_inst_1/RX_READ_BUFFER_4" BEL
        "gigabit_ethernet_inst_1/RX_READ_BUFFER_3" BEL
        "gigabit_ethernet_inst_1/RX_READ_BUFFER_2" BEL
        "gigabit_ethernet_inst_1/RX_READ_BUFFER_1" BEL
        "gigabit_ethernet_inst_1/RX_READ_BUFFER_0" BEL
        "SERIAL_INPUT_INST_1/BAUD_COUNT_4" BEL
        "SERIAL_INPUT_INST_1/BAUD_COUNT_3" BEL
        "SERIAL_INPUT_INST_1/BAUD_COUNT_2" BEL
        "SERIAL_INPUT_INST_1/BAUD_COUNT_1" BEL
        "SERIAL_INPUT_INST_1/BAUD_COUNT_0" BEL "SERIAL_INPUT_INST_1/COUNT_1"
        BEL "SERIAL_INPUT_INST_1/COUNT_0" BEL
        "SERIAL_INPUT_INST_1/STATE_FSM_FFd1" BEL
        "SERIAL_INPUT_INST_1/STATE_FSM_FFd2" BEL
        "SERIAL_INPUT_INST_1/STATE_FSM_FFd4" BEL
        "SERIAL_INPUT_INST_1/STATE_FSM_FFd3" BEL
        "SERIAL_INPUT_INST_1/BIT_SPACING_3" BEL
        "SERIAL_INPUT_INST_1/BIT_SPACING_2" BEL
        "SERIAL_INPUT_INST_1/BIT_SPACING_1" BEL
        "SERIAL_INPUT_INST_1/BIT_SPACING_0" BEL "SERIAL_INPUT_INST_1/OUT1_7"
        BEL "SERIAL_INPUT_INST_1/OUT1_6" BEL "SERIAL_INPUT_INST_1/OUT1_5" BEL
        "SERIAL_INPUT_INST_1/OUT1_4" BEL "SERIAL_INPUT_INST_1/OUT1_3" BEL
        "SERIAL_INPUT_INST_1/OUT1_2" BEL "SERIAL_INPUT_INST_1/OUT1_1" BEL
        "SERIAL_INPUT_INST_1/OUT1_0" BEL "SERIAL_INPUT_INST_1/X16CLK_EN" BEL
        "SERIAL_INPUT_INST_1/SERIAL_DEGLITCH_1" BEL
        "SERIAL_INPUT_INST_1/SERIAL_DEGLITCH_0" BEL
        "USER_DESIGN_INST_1/register_3_15" BEL
        "USER_DESIGN_INST_1/register_3_14" BEL
        "USER_DESIGN_INST_1/register_3_13" BEL
        "USER_DESIGN_INST_1/register_3_12" BEL
        "USER_DESIGN_INST_1/register_3_11" BEL
        "USER_DESIGN_INST_1/register_3_10" BEL
        "USER_DESIGN_INST_1/register_3_9" BEL
        "USER_DESIGN_INST_1/register_3_8" BEL
        "USER_DESIGN_INST_1/register_3_7" BEL
        "USER_DESIGN_INST_1/register_3_6" BEL
        "USER_DESIGN_INST_1/register_3_5" BEL
        "USER_DESIGN_INST_1/register_3_4" BEL
        "USER_DESIGN_INST_1/register_3_3" BEL
        "USER_DESIGN_INST_1/register_3_2" BEL
        "USER_DESIGN_INST_1/register_3_1" BEL
        "USER_DESIGN_INST_1/register_3_0" BEL
        "USER_DESIGN_INST_1/program_counter_5" BEL
        "USER_DESIGN_INST_1/program_counter_4" BEL
        "USER_DESIGN_INST_1/program_counter_3" BEL
        "USER_DESIGN_INST_1/program_counter_2" BEL
        "USER_DESIGN_INST_1/program_counter_1" BEL
        "USER_DESIGN_INST_1/program_counter_0" BEL
        "USER_DESIGN_INST_1/data_out_15" BEL
        "USER_DESIGN_INST_1/s_output_rs232_tx_7" BEL
        "USER_DESIGN_INST_1/s_output_rs232_tx_0" BEL
        "USER_DESIGN_INST_1/address_2" BEL "USER_DESIGN_INST_1/address_1" BEL
        "USER_DESIGN_INST_1/address_0" BEL "USER_DESIGN_INST_1/register_8_15"
        BEL "USER_DESIGN_INST_1/register_8_14" BEL
        "USER_DESIGN_INST_1/register_8_13" BEL
        "USER_DESIGN_INST_1/register_8_12" BEL
        "USER_DESIGN_INST_1/register_8_11" BEL
        "USER_DESIGN_INST_1/register_8_10" BEL
        "USER_DESIGN_INST_1/register_8_9" BEL
        "USER_DESIGN_INST_1/register_8_8" BEL
        "USER_DESIGN_INST_1/register_8_7" BEL
        "USER_DESIGN_INST_1/register_8_6" BEL
        "USER_DESIGN_INST_1/register_8_5" BEL
        "USER_DESIGN_INST_1/register_8_4" BEL
        "USER_DESIGN_INST_1/register_8_3" BEL
        "USER_DESIGN_INST_1/register_8_2" BEL
        "USER_DESIGN_INST_1/register_8_1" BEL
        "USER_DESIGN_INST_1/register_8_0" BEL
        "SERIAL_OUTPUT_INST_1/STATE_FSM_FFd1" BEL
        "SERIAL_OUTPUT_INST_1/BAUD_COUNT_8" BEL
        "SERIAL_OUTPUT_INST_1/BAUD_COUNT_7" BEL
        "SERIAL_OUTPUT_INST_1/BAUD_COUNT_6" BEL
        "SERIAL_OUTPUT_INST_1/BAUD_COUNT_5" BEL
        "SERIAL_OUTPUT_INST_1/BAUD_COUNT_4" BEL
        "SERIAL_OUTPUT_INST_1/BAUD_COUNT_3" BEL
        "SERIAL_OUTPUT_INST_1/BAUD_COUNT_2" BEL
        "SERIAL_OUTPUT_INST_1/BAUD_COUNT_1" BEL
        "SERIAL_OUTPUT_INST_1/STATE_FSM_FFd2" BEL
        "SERIAL_OUTPUT_INST_1/STATE_FSM_FFd3" BEL
        "SERIAL_OUTPUT_INST_1/STATE_FSM_FFd4" BEL
        "SERIAL_OUTPUT_INST_1/X16CLK_EN" BEL "SERIAL_OUTPUT_INST_1/DATA_7" BEL
        "SERIAL_OUTPUT_INST_1/DATA_0" BEL
        "gigabit_ethernet_inst_1/TX_IN_COUNT_8" BEL
        "gigabit_ethernet_inst_1/TX_IN_COUNT_7" BEL
        "gigabit_ethernet_inst_1/TX_IN_COUNT_6" BEL
        "gigabit_ethernet_inst_1/TX_IN_COUNT_5" BEL
        "gigabit_ethernet_inst_1/TX_IN_COUNT_4" BEL
        "gigabit_ethernet_inst_1/TX_IN_COUNT_3" BEL
        "gigabit_ethernet_inst_1/TX_IN_COUNT_2" BEL
        "gigabit_ethernet_inst_1/TX_IN_COUNT_1" BEL
        "gigabit_ethernet_inst_1/TX_IN_COUNT_0" BEL
        "gigabit_ethernet_inst_1/RX_STB" BEL "gigabit_ethernet_inst_1/GO" BEL
        "SERIAL_INPUT_INST_1/OUT1_STB" BEL "SERIAL_OUTPUT_INST_1/TX" BEL
        "SERIAL_OUTPUT_INST_1/S_IN1_ACK" BEL "NOT_LOCKED" BEL "GPIO_LEDS_0"
        BEL "gigabit_ethernet_inst_1/RX_PACKET_STATE_FSM_FFd1" BEL
        "gigabit_ethernet_inst_1/TX_WRITE" BEL
        "USER_DESIGN_INST_1/s_output_leds_2" BEL
        "USER_DESIGN_INST_1/s_input_rs232_rx_ack" BEL
        "USER_DESIGN_INST_1/s_input_eth_rx_ack" BEL
        "USER_DESIGN_INST_1/s_output_eth_tx_stb" BEL
        "USER_DESIGN_INST_1/s_output_rs232_tx_stb" BEL
        "USER_DESIGN_INST_1/s_output_leds_stb" BEL
        "SERIAL_INPUT_INST_1/INT_SERIAL" BEL "INTERNAL_RST_1" BEL
        "INTERNAL_RST_2" PIN
        "gigabit_ethernet_inst_1/Mram_RX_MEMORY2_pins<23>" PIN
        "gigabit_ethernet_inst_1/Mram_RX_MEMORY1_pins<23>" PIN
        "gigabit_ethernet_inst_1/Mram_TX_MEMORY_pins<18>" BEL
        "gigabit_ethernet_inst_1/Mshreg_RX_BUFFER_BUSY_SYNC_31" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_SYNC_31" BEL
        "gigabit_ethernet_inst_1/Mshreg_RX_BUFFER_BUSY_SYNC_30" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_SYNC_30" BEL
        "gigabit_ethernet_inst_1/Mshreg_RX_BUFFER_BUSY_SYNC_29" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_SYNC_29" BEL
        "gigabit_ethernet_inst_1/Mshreg_RX_BUFFER_BUSY_SYNC_28" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_SYNC_28" BEL
        "gigabit_ethernet_inst_1/Mshreg_RX_BUFFER_BUSY_SYNC_27" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_SYNC_27" BEL
        "gigabit_ethernet_inst_1/Mshreg_RX_BUFFER_BUSY_SYNC_26" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_SYNC_26" BEL
        "gigabit_ethernet_inst_1/Mshreg_RX_BUFFER_BUSY_SYNC_25" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_SYNC_25" BEL
        "gigabit_ethernet_inst_1/Mshreg_RX_BUFFER_BUSY_SYNC_24" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_SYNC_24" BEL
        "gigabit_ethernet_inst_1/Mshreg_RX_BUFFER_BUSY_SYNC_23" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_SYNC_23" BEL
        "gigabit_ethernet_inst_1/Mshreg_RX_BUFFER_BUSY_SYNC_22" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_SYNC_22" BEL
        "gigabit_ethernet_inst_1/Mshreg_RX_BUFFER_BUSY_SYNC_21" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_SYNC_21" BEL
        "gigabit_ethernet_inst_1/Mshreg_RX_BUFFER_BUSY_SYNC_20" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_SYNC_20" BEL
        "gigabit_ethernet_inst_1/Mshreg_RX_BUFFER_BUSY_SYNC_19" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_SYNC_19" BEL
        "gigabit_ethernet_inst_1/Mshreg_RX_BUFFER_BUSY_SYNC_18" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_SYNC_18" BEL
        "gigabit_ethernet_inst_1/Mshreg_RX_BUFFER_BUSY_SYNC_17" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_SYNC_17" BEL
        "gigabit_ethernet_inst_1/Mshreg_RX_BUFFER_BUSY_SYNC_14" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_SYNC_14" BEL
        "gigabit_ethernet_inst_1/Mshreg_RX_BUFFER_BUSY_SYNC_16" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_SYNC_16" BEL
        "gigabit_ethernet_inst_1/Mshreg_RX_BUFFER_BUSY_SYNC_15" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_SYNC_15" BEL
        "gigabit_ethernet_inst_1/Mshreg_RX_BUFFER_BUSY_SYNC_13" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_SYNC_13" BEL
        "gigabit_ethernet_inst_1/Mshreg_RX_BUFFER_BUSY_SYNC_12" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_SYNC_12" BEL
        "gigabit_ethernet_inst_1/Mshreg_RX_BUFFER_BUSY_SYNC_11" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_SYNC_11" BEL
        "gigabit_ethernet_inst_1/Mshreg_RX_BUFFER_BUSY_SYNC_10" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_SYNC_10" BEL
        "gigabit_ethernet_inst_1/Mshreg_RX_BUFFER_BUSY_SYNC_9" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_SYNC_9" BEL
        "gigabit_ethernet_inst_1/Mshreg_RX_BUFFER_BUSY_SYNC_8" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_SYNC_8" BEL
        "gigabit_ethernet_inst_1/Mshreg_RX_BUFFER_BUSY_SYNC_7" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_SYNC_7" BEL
        "gigabit_ethernet_inst_1/Mshreg_RX_BUFFER_BUSY_SYNC_6" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_SYNC_6" BEL
        "gigabit_ethernet_inst_1/Mshreg_RX_BUFFER_BUSY_SYNC_5" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_SYNC_5" BEL
        "gigabit_ethernet_inst_1/Mshreg_RX_BUFFER_BUSY_SYNC_4" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_SYNC_4" BEL
        "gigabit_ethernet_inst_1/Mshreg_RX_BUFFER_BUSY_SYNC_3" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_SYNC_3" BEL
        "gigabit_ethernet_inst_1/Mshreg_RX_BUFFER_BUSY_SYNC_2" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_SYNC_2" BEL
        "gigabit_ethernet_inst_1/Mshreg_RX_BUFFER_BUSY_SYNC_1" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_SYNC_1" BEL
        "gigabit_ethernet_inst_1/Mshreg_RX_BUFFER_BUSY_SYNC_0" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_SYNC_0" BEL
        "USER_DESIGN_INST_1/Mram_memory16";
PIN gigabit_ethernet_inst_1/Mram_TX_MEMORY_pins<19> = BEL
        "gigabit_ethernet_inst_1/Mram_TX_MEMORY" PINNAME CLKBRDCLK;
PIN ODDR2_INST1_pins<1> = BEL "ODDR2_INST1" PINNAME CK0;
TIMEGRP clkfx = BEL "BUFG_INST3" BEL
        "gigabit_ethernet_inst_1/TX_READ_ADDRESS_8" BEL
        "gigabit_ethernet_inst_1/TX_READ_ADDRESS_7" BEL
        "gigabit_ethernet_inst_1/TX_READ_ADDRESS_6" BEL
        "gigabit_ethernet_inst_1/TX_READ_ADDRESS_5" BEL
        "gigabit_ethernet_inst_1/TX_READ_ADDRESS_4" BEL
        "gigabit_ethernet_inst_1/TX_READ_ADDRESS_3" BEL
        "gigabit_ethernet_inst_1/TX_READ_ADDRESS_2" BEL
        "gigabit_ethernet_inst_1/TX_READ_ADDRESS_1" BEL
        "gigabit_ethernet_inst_1/TX_READ_ADDRESS_0" BEL
        "gigabit_ethernet_inst_1/TX_CRC_31" BEL
        "gigabit_ethernet_inst_1/TX_CRC_30" BEL
        "gigabit_ethernet_inst_1/TX_CRC_29" BEL
        "gigabit_ethernet_inst_1/TX_CRC_28" BEL
        "gigabit_ethernet_inst_1/TX_CRC_27" BEL
        "gigabit_ethernet_inst_1/TX_CRC_26" BEL
        "gigabit_ethernet_inst_1/TX_CRC_25" BEL
        "gigabit_ethernet_inst_1/TX_CRC_24" BEL
        "gigabit_ethernet_inst_1/TX_CRC_23" BEL
        "gigabit_ethernet_inst_1/TX_CRC_22" BEL
        "gigabit_ethernet_inst_1/TX_CRC_21" BEL
        "gigabit_ethernet_inst_1/TX_CRC_20" BEL
        "gigabit_ethernet_inst_1/TX_CRC_19" BEL
        "gigabit_ethernet_inst_1/TX_CRC_18" BEL
        "gigabit_ethernet_inst_1/TX_CRC_17" BEL
        "gigabit_ethernet_inst_1/TX_CRC_16" BEL
        "gigabit_ethernet_inst_1/TX_CRC_15" BEL
        "gigabit_ethernet_inst_1/TX_CRC_14" BEL
        "gigabit_ethernet_inst_1/TX_CRC_13" BEL
        "gigabit_ethernet_inst_1/TX_CRC_12" BEL
        "gigabit_ethernet_inst_1/TX_CRC_11" BEL
        "gigabit_ethernet_inst_1/TX_CRC_10" BEL
        "gigabit_ethernet_inst_1/TX_CRC_9" BEL
        "gigabit_ethernet_inst_1/TX_CRC_8" BEL
        "gigabit_ethernet_inst_1/TX_CRC_7" BEL
        "gigabit_ethernet_inst_1/TX_CRC_6" BEL
        "gigabit_ethernet_inst_1/TX_CRC_5" BEL
        "gigabit_ethernet_inst_1/TX_CRC_4" BEL
        "gigabit_ethernet_inst_1/TX_CRC_3" BEL
        "gigabit_ethernet_inst_1/TX_CRC_2" BEL
        "gigabit_ethernet_inst_1/TX_CRC_1" BEL
        "gigabit_ethernet_inst_1/TX_CRC_0" BEL
        "gigabit_ethernet_inst_1/TX_OUT_COUNT_10" BEL
        "gigabit_ethernet_inst_1/TX_OUT_COUNT_9" BEL
        "gigabit_ethernet_inst_1/TX_OUT_COUNT_8" BEL
        "gigabit_ethernet_inst_1/TX_OUT_COUNT_7" BEL
        "gigabit_ethernet_inst_1/TX_OUT_COUNT_6" BEL
        "gigabit_ethernet_inst_1/TX_OUT_COUNT_5" BEL
        "gigabit_ethernet_inst_1/TX_OUT_COUNT_4" BEL
        "gigabit_ethernet_inst_1/TX_OUT_COUNT_3" BEL
        "gigabit_ethernet_inst_1/TX_OUT_COUNT_2" BEL
        "gigabit_ethernet_inst_1/TX_OUT_COUNT_1" BEL
        "gigabit_ethernet_inst_1/TX_OUT_COUNT_0" BEL
        "gigabit_ethernet_inst_1/TXEN" BEL
        "gigabit_ethernet_inst_1/TX_PHY_STATE_FSM_FFd1" BEL
        "gigabit_ethernet_inst_1/TX_PHY_STATE_FSM_FFd2" BEL
        "gigabit_ethernet_inst_1/TX_PHY_STATE_FSM_FFd4" BEL
        "gigabit_ethernet_inst_1/DONE" BEL
        "gigabit_ethernet_inst_1/TX_PHY_STATE_FSM_FFd3" BEL
        "gigabit_ethernet_inst_1/TXD_7" BEL "gigabit_ethernet_inst_1/TXD_3"
        BEL "gigabit_ethernet_inst_1/TXD_1" BEL
        "gigabit_ethernet_inst_1/TXD_5" BEL "gigabit_ethernet_inst_1/TXD_6"
        BEL "gigabit_ethernet_inst_1/TXD_4" BEL
        "gigabit_ethernet_inst_1/TXD_2" BEL "gigabit_ethernet_inst_1/TXD_0"
        PIN "gigabit_ethernet_inst_1/Mram_TX_MEMORY_pins<19>" BEL
        "gigabit_ethernet_inst_1/Mshreg_DONE_SYNC" BEL
        "gigabit_ethernet_inst_1/DONE_SYNC" BEL
        "gigabit_ethernet_inst_1/Mshreg_GO_SYNC" BEL
        "gigabit_ethernet_inst_1/GO_SYNC" PIN "ODDR2_INST1_pins<1>";
PIN ODDR2_INST1_pins<2> = BEL "ODDR2_INST1" PINNAME CK1;
TIMEGRP clkfx180 = BEL "BUFG_INST4" PIN "ODDR2_INST1_pins<2>";
PIN gigabit_ethernet_inst_1/Mram_RX_MEMORY2_pins<22> = BEL
        "gigabit_ethernet_inst_1/Mram_RX_MEMORY2" PINNAME CLKA;
PIN gigabit_ethernet_inst_1/Mram_RX_MEMORY1_pins<22> = BEL
        "gigabit_ethernet_inst_1/Mram_RX_MEMORY1" PINNAME CLKA;
TIMEGRP RXCLK = BEL "gigabit_ethernet_inst_1/RX_PHY_STATE_FSM_FFd1" BEL
        "gigabit_ethernet_inst_1/RX_PHY_STATE_FSM_FFd2" BEL
        "gigabit_ethernet_inst_1/RX_PHY_STATE_FSM_FFd3" BEL
        "gigabit_ethernet_inst_1/RX_WRITE_BUFFER_4" BEL
        "gigabit_ethernet_inst_1/RX_WRITE_BUFFER_3" BEL
        "gigabit_ethernet_inst_1/RX_WRITE_BUFFER_2" BEL
        "gigabit_ethernet_inst_1/RX_WRITE_BUFFER_1" BEL
        "gigabit_ethernet_inst_1/RX_WRITE_BUFFER_0" BEL
        "gigabit_ethernet_inst_1/RX_PACKET_LENGTH_10" BEL
        "gigabit_ethernet_inst_1/RX_PACKET_LENGTH_9" BEL
        "gigabit_ethernet_inst_1/RX_PACKET_LENGTH_8" BEL
        "gigabit_ethernet_inst_1/RX_PACKET_LENGTH_7" BEL
        "gigabit_ethernet_inst_1/RX_PACKET_LENGTH_6" BEL
        "gigabit_ethernet_inst_1/RX_PACKET_LENGTH_5" BEL
        "gigabit_ethernet_inst_1/RX_PACKET_LENGTH_4" BEL
        "gigabit_ethernet_inst_1/RX_PACKET_LENGTH_3" BEL
        "gigabit_ethernet_inst_1/RX_PACKET_LENGTH_2" BEL
        "gigabit_ethernet_inst_1/RX_PACKET_LENGTH_1" BEL
        "gigabit_ethernet_inst_1/RX_PACKET_LENGTH_0" BEL
        "gigabit_ethernet_inst_1/RX_WRITE_ADDRESS_10" BEL
        "gigabit_ethernet_inst_1/RX_WRITE_ADDRESS_9" BEL
        "gigabit_ethernet_inst_1/RX_WRITE_ADDRESS_8" BEL
        "gigabit_ethernet_inst_1/RX_WRITE_ADDRESS_7" BEL
        "gigabit_ethernet_inst_1/RX_WRITE_ADDRESS_6" BEL
        "gigabit_ethernet_inst_1/RX_WRITE_ADDRESS_5" BEL
        "gigabit_ethernet_inst_1/RX_WRITE_ADDRESS_4" BEL
        "gigabit_ethernet_inst_1/RX_WRITE_ADDRESS_3" BEL
        "gigabit_ethernet_inst_1/RX_WRITE_ADDRESS_2" BEL
        "gigabit_ethernet_inst_1/RX_WRITE_ADDRESS_1" BEL
        "gigabit_ethernet_inst_1/RX_WRITE_ADDRESS_0" BEL
        "gigabit_ethernet_inst_1/RX_CRC_31" BEL
        "gigabit_ethernet_inst_1/RX_CRC_30" BEL
        "gigabit_ethernet_inst_1/RX_CRC_29" BEL
        "gigabit_ethernet_inst_1/RX_CRC_28" BEL
        "gigabit_ethernet_inst_1/RX_CRC_27" BEL
        "gigabit_ethernet_inst_1/RX_CRC_26" BEL
        "gigabit_ethernet_inst_1/RX_CRC_25" BEL
        "gigabit_ethernet_inst_1/RX_CRC_24" BEL
        "gigabit_ethernet_inst_1/RX_CRC_23" BEL
        "gigabit_ethernet_inst_1/RX_CRC_22" BEL
        "gigabit_ethernet_inst_1/RX_CRC_21" BEL
        "gigabit_ethernet_inst_1/RX_CRC_20" BEL
        "gigabit_ethernet_inst_1/RX_CRC_19" BEL
        "gigabit_ethernet_inst_1/RX_CRC_18" BEL
        "gigabit_ethernet_inst_1/RX_CRC_17" BEL
        "gigabit_ethernet_inst_1/RX_CRC_16" BEL
        "gigabit_ethernet_inst_1/RX_CRC_15" BEL
        "gigabit_ethernet_inst_1/RX_CRC_14" BEL
        "gigabit_ethernet_inst_1/RX_CRC_13" BEL
        "gigabit_ethernet_inst_1/RX_CRC_12" BEL
        "gigabit_ethernet_inst_1/RX_CRC_11" BEL
        "gigabit_ethernet_inst_1/RX_CRC_10" BEL
        "gigabit_ethernet_inst_1/RX_CRC_9" BEL
        "gigabit_ethernet_inst_1/RX_CRC_8" BEL
        "gigabit_ethernet_inst_1/RX_CRC_7" BEL
        "gigabit_ethernet_inst_1/RX_CRC_6" BEL
        "gigabit_ethernet_inst_1/RX_CRC_5" BEL
        "gigabit_ethernet_inst_1/RX_CRC_4" BEL
        "gigabit_ethernet_inst_1/RX_CRC_3" BEL
        "gigabit_ethernet_inst_1/RX_CRC_2" BEL
        "gigabit_ethernet_inst_1/RX_CRC_1" BEL
        "gigabit_ethernet_inst_1/RX_CRC_0" BEL
        "gigabit_ethernet_inst_1/RX_START_ADDRESS_10" BEL
        "gigabit_ethernet_inst_1/RX_START_ADDRESS_9" BEL
        "gigabit_ethernet_inst_1/RX_START_ADDRESS_8" BEL
        "gigabit_ethernet_inst_1/RX_START_ADDRESS_7" BEL
        "gigabit_ethernet_inst_1/RX_START_ADDRESS_6" BEL
        "gigabit_ethernet_inst_1/RX_START_ADDRESS_5" BEL
        "gigabit_ethernet_inst_1/RX_START_ADDRESS_4" BEL
        "gigabit_ethernet_inst_1/RX_START_ADDRESS_3" BEL
        "gigabit_ethernet_inst_1/RX_START_ADDRESS_2" BEL
        "gigabit_ethernet_inst_1/RX_START_ADDRESS_1" BEL
        "gigabit_ethernet_inst_1/RX_START_ADDRESS_0" BEL
        "gigabit_ethernet_inst_1/RX_WRITE_DATA_15" BEL
        "gigabit_ethernet_inst_1/RX_WRITE_DATA_14" BEL
        "gigabit_ethernet_inst_1/RX_WRITE_DATA_13" BEL
        "gigabit_ethernet_inst_1/RX_WRITE_DATA_12" BEL
        "gigabit_ethernet_inst_1/RX_WRITE_DATA_11" BEL
        "gigabit_ethernet_inst_1/RX_WRITE_DATA_10" BEL
        "gigabit_ethernet_inst_1/RX_WRITE_DATA_9" BEL
        "gigabit_ethernet_inst_1/RX_WRITE_DATA_8" BEL
        "gigabit_ethernet_inst_1/RX_WRITE_DATA_7" BEL
        "gigabit_ethernet_inst_1/RX_WRITE_DATA_6" BEL
        "gigabit_ethernet_inst_1/RX_WRITE_DATA_5" BEL
        "gigabit_ethernet_inst_1/RX_WRITE_DATA_4" BEL
        "gigabit_ethernet_inst_1/RX_WRITE_DATA_3" BEL
        "gigabit_ethernet_inst_1/RX_WRITE_DATA_2" BEL
        "gigabit_ethernet_inst_1/RX_WRITE_DATA_1" BEL
        "gigabit_ethernet_inst_1/RX_WRITE_DATA_0" BEL
        "gigabit_ethernet_inst_1/RX_WRITE_ENABLE" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_31" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_30" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_29" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_28" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_27" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_26" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_25" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_24" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_23" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_22" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_21" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_20" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_19" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_18" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_17" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_16" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_15" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_14" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_13" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_12" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_11" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_10" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_9" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_8" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_7" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_6" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_5" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_4" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_3" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_2" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_1" BEL
        "gigabit_ethernet_inst_1/RX_BUFFER_BUSY_0" BEL
        "gigabit_ethernet_inst_1/RX_ERROR" BEL "RXCLK_BUFGP/BUFG" PIN
        "gigabit_ethernet_inst_1/Mram_RX_MEMORY2_pins<22>" PIN
        "gigabit_ethernet_inst_1/Mram_RX_MEMORY1_pins<22>" BEL
        "gigabit_ethernet_inst_1/Mram_RX_PACKET_LENGTH_BUFFER1_RAMA_D1" BEL
        "gigabit_ethernet_inst_1/Mram_RX_PACKET_LENGTH_BUFFER1_RAMA" BEL
        "gigabit_ethernet_inst_1/Mram_RX_PACKET_LENGTH_BUFFER1_RAMB_D1" BEL
        "gigabit_ethernet_inst_1/Mram_RX_PACKET_LENGTH_BUFFER1_RAMB" BEL
        "gigabit_ethernet_inst_1/Mram_RX_PACKET_LENGTH_BUFFER1_RAMC_D1" BEL
        "gigabit_ethernet_inst_1/Mram_RX_PACKET_LENGTH_BUFFER1_RAMC" BEL
        "gigabit_ethernet_inst_1/Mram_RX_PACKET_LENGTH_BUFFER1_RAMD_D1" BEL
        "gigabit_ethernet_inst_1/Mram_RX_PACKET_LENGTH_BUFFER1_RAMD" BEL
        "gigabit_ethernet_inst_1/Mram_RX_PACKET_LENGTH_BUFFER2_RAMA_D1" BEL
        "gigabit_ethernet_inst_1/Mram_RX_PACKET_LENGTH_BUFFER2_RAMA" BEL
        "gigabit_ethernet_inst_1/Mram_RX_PACKET_LENGTH_BUFFER2_RAMB_D1" BEL
        "gigabit_ethernet_inst_1/Mram_RX_PACKET_LENGTH_BUFFER2_RAMB" BEL
        "gigabit_ethernet_inst_1/Mram_RX_PACKET_LENGTH_BUFFER2_RAMC" BEL
        "gigabit_ethernet_inst_1/Mram_RX_PACKET_LENGTH_BUFFER2_RAMD_D1" BEL
        "gigabit_ethernet_inst_1/Mram_RX_PACKET_LENGTH_BUFFER2_RAMD" BEL
        "gigabit_ethernet_inst_1/Mram_RX_START_ADDRESS_BUFFER1_RAMA_D1" BEL
        "gigabit_ethernet_inst_1/Mram_RX_START_ADDRESS_BUFFER1_RAMA" BEL
        "gigabit_ethernet_inst_1/Mram_RX_START_ADDRESS_BUFFER1_RAMB_D1" BEL
        "gigabit_ethernet_inst_1/Mram_RX_START_ADDRESS_BUFFER1_RAMB" BEL
        "gigabit_ethernet_inst_1/Mram_RX_START_ADDRESS_BUFFER1_RAMC_D1" BEL
        "gigabit_ethernet_inst_1/Mram_RX_START_ADDRESS_BUFFER1_RAMC" BEL
        "gigabit_ethernet_inst_1/Mram_RX_START_ADDRESS_BUFFER1_RAMD_D1" BEL
        "gigabit_ethernet_inst_1/Mram_RX_START_ADDRESS_BUFFER1_RAMD" BEL
        "gigabit_ethernet_inst_1/Mram_RX_START_ADDRESS_BUFFER2_RAMA_D1" BEL
        "gigabit_ethernet_inst_1/Mram_RX_START_ADDRESS_BUFFER2_RAMA" BEL
        "gigabit_ethernet_inst_1/Mram_RX_START_ADDRESS_BUFFER2_RAMB_D1" BEL
        "gigabit_ethernet_inst_1/Mram_RX_START_ADDRESS_BUFFER2_RAMB" BEL
        "gigabit_ethernet_inst_1/Mram_RX_START_ADDRESS_BUFFER2_RAMC" BEL
        "gigabit_ethernet_inst_1/Mram_RX_START_ADDRESS_BUFFER2_RAMD_D1" BEL
        "gigabit_ethernet_inst_1/Mram_RX_START_ADDRESS_BUFFER2_RAMD";
PIN SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0> = BEL "SP6_BUFIO_INSERT_ML_BUFIO2_0"
        PINNAME DIVCLK;
PIN dcm_sp_inst_pins<5> = BEL "dcm_sp_inst" PINNAME CLKIN;
TIMEGRP CLK_P = PIN "SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0>" PIN
        "dcm_sp_inst_pins<5>";
TS_CLK_P = PERIOD TIMEGRP "CLK_P" 5 ns HIGH 50% INPUT_JITTER 0.05 ns;
TS_RXCLK = PERIOD TIMEGRP "RXCLK" 8 ns HIGH 50%;
TS_clkfx = PERIOD TIMEGRP "clkfx" TS_CLK_P / 0.625 HIGH 50% INPUT_JITTER 0.05
        ns;
TS_clkfx180 = PERIOD TIMEGRP "clkfx180" TS_CLK_P / 0.625 PHASE 4 ns HIGH 50%
        INPUT_JITTER 0.05 ns;
TS_clkdv = PERIOD TIMEGRP "clkdv" TS_CLK_P * 4 HIGH 50% INPUT_JITTER 0.05 ns;
PIN RST_pins<0> = BEL "RST" PINNAME PAD;
PIN "RST_pins<0>" TIG;
SCHEMATIC END;

